.Main
  .Main__group
    .Main__group__name
      .Main__group__name__box
        = @group.name
      .Main__group__name__member
        Member : 
        - @group.users.each do |user|
          = user.name
    .Main__group__btn
      = link_to "Edit", "/groups/#{@group.id}/edit",class: "Main__group__btn__box"
  .Main__message
    = render @messages

  .form
    = form_with model: [@group, @message], html: {class: "form_contents"}, local: true do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a massage"
        = f.label :image, class: "input-box__image" do
          = icon('fas', 'image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit 'Send', class: "submit-btn"
