.Side
  .Side__user
    .Side__user__box
      .Side__user__box__name
        = current_user.name
      .Side__user__box__icon
        = link_to new_group_path do
          = icon('far', 'edit', class: 'Side__user__box__icon__edit')
        = link_to "/users/:id/edit" do
          = icon('fa', 'cog', class: 'Side__user__box__icon__cog')
  .Side__group
    - current_user.groups.each do |group|
      .Side__group__box
        = link_to "/groups/#{group.id}/messages", class: "Side__group__box__link" do
          .Side__group__box__name
            = group.name
          .Side__group__box__chat
            = group.show_last_message
            


